<!DOCTYPE html>
<html>
<head>
  <title>Ensayo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= link_to "Products", products_path %>
<%= link_to "Customers", customers_path %>


</body>
</html>
